.UploadFile {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);

  .header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .description {
      text-align: center;
      color: black;
    }
  }

  .header.dragOver {
    border: 2px solid #007bff;
    background-color: rgba(0, 123, 255, 0.1);
  }

  .header svg {
    height: 100px;
  }

  .footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
    flex: 1;

    .fileName {
      flex: 1;
      text-align: center;
    }
  }

  .previewContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .videoPreview {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      max-width: 100%;
      max-height: 200px;
      border-radius: 8px;
    }
  }

  .previewFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 110, 255, 0.075);
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    color: black;

    .fileName {
      flex: 1;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }
  }

  .removeButton {
    height: 40px;
    width: 40px;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    svg {
      height: 100%;
      fill: royalblue;
    }
  }

  .footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }

  #file {
    display: none;
  }
}
