@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/ExtarLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/inter/Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

/* Шрифты Norms */
@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Norms";
  src: url("./../fonts/norms/Heavy.woff") format("woff");
  font-weight: 950;
  font-display: swap;
}
