.Profile {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .content {
    display: flex;
    gap: 2rem;
    flex: 1;

    .mainContent {
      flex: 1;
      max-width: calc(100vw - 300px);
      box-sizing: border-box;
    }
  }
}
