.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh; /* Изменено с 100% на 100vh для обеспечения полной высоты экрана */
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-inner {
  padding: 0 5rem auto; /* Увеличено нижнее значение padding для лучшего завершения прокрутки */
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: max-content;
  width: 100%;
  margin: 30px 0;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}

.scroll-stack-scroller::-webkit-scrollbar {
  display: none;
}
